*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
}
.main_container{
    display: flex;
    justify-content: center;
    
}
.col-3{
    background-color: rgb(69, 22, 144);
}
.main_image{
    float: left;
    width: 170px;
    height: 180px;
    margin: 20px;
    shape-outside: ellipse(20% 50%);
    clip-path: ellipse(40% 50%);
    background: lightblue;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.main_image img{
     width: 100%;
   
}
.main_content{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main_content h1{
    color: white;
    padding-top: 10px;
    font-size: 25px
}
.main_content h1 span{
    font-weight: bold;
}
.all_content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.profile{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.profile_sub{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.profile_sub h4{
    font-size: 18px;
    color: white;
    border-bottom: 1px solid #ccc;
}
.profile_sub p{
    color: white;
}
.profile_sub p span{
    font-weight: bold;
}
.contact{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.contact h5{
    font-size: 17px;
    color: white;
    border-bottom: 1px solid #ccc;
}
.contact div{
    line-height: 1.4;
    color: white;
    font-size: 17px;
}
.contact{
    line-height: 1;
}
/*  */
.personal{
    padding-top: 15px;
}
.personal h5{
    font-size: 17px;
    color: white;
    border-bottom: 1px solid #ccc;
}
.personal div{
    font-size: 17px;
    line-height: 1.4;
    color: white;
}
.personal div span{
    font-weight: bold;
}

.skills{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.skills h5{
    font-size: 17px;
    color: white;
    border-bottom: 1px solid #ccc;
}
.skills li{
    font-size: 17px;
    line-height: 1.4;
    color: white;
}
/*  */
.experience{
    padding: 5px 20px;
}
.experience h3{
    border-bottom: 1px solid rgb(22, 6, 129);;
    color: rgb(22, 6, 129);   
}
.experience h5{
    line-height: 1;
    font-size: 18px;
}

.experience li{
    line-height: 1;
    position: relative;
    list-style: none;
    color: rgb(0, 0, 0);
    font-size: 17px;
    &:after {
        content: '';
        height: .4em;
        width: .4em;
        background: transparent;
        border: 1px solid black;
        display: block;
        position: absolute;
        transform: rotate(45deg);
        top: 0.5em;
        left: -0.7em
        
      }
}
.for_year{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.for_dis{
    display: flex;
    justify-content: space-between;
}
.for_diss{
    display: flex;
    justify-content: space-between;
}
.for_yearr{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    opacity: 90%;
}